language: node_js
node_js:
  - '6'
cache:
  yarn: true
  directories:
    - node_modules
before_install:
  - npm config set spin false
  - npm install -g npm@^5
script:
  - yarn test-ci
  - yarn build
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: "eiheUN2pFiLG5c78alFy7OK5pM5KbMwjtNhT0+wmglq+lygyipvrY1Mxbh++18EIlGY7+DvLC/gVVxrGPv6d24SOQyE6B5kMBkFiZyoyPNVGAvQj5fN8TEFtXy5Y/9GTZKnE1awm2jTj/7Ci4r8che++QeeU1fShZHD63g+BQJDGV9cxibPv1LMeAlBOjnRfABHGXpU+RttdovlX6jTglff3H2K8xkyJUWdNd5OSf6BxwBU9xx5gFvZNgDd8UliiYNyjcF5cOyr/fzqoJ5SfOMWc4UhGqQtT4nMucaksVAEI3WbeFM45kSAwXqL8p4TrSUk4oFMuMGznXzQrtp3bDmMJdSdp4nCuKeRbL9VNaugWo3u+QpNQ8y+YHoU5DxzRrjV4BHl4y2kUvvmPipA8O+bY0onVrT8k18iyeMUBlElCWrIJIGYQXnLgKOwYxwYRlBBixM9d+IVnbSzznlhcDfLuivTAdFqdPib7JSrFA1Kyh86I73ocirDaynMlM3WrVr+VpPVptGbEgcCJ+hD9ANFaXOylIjFwG8i9B4L7QeqzTOMe3Cvp/BS+jklYDMOP3XGEGEB8Wi4xitFXo+nEW/Jcto14cKTuNV5Cuuc5DQuMMBjagnYPg3xeMvkc9/KUQj3xJbKSEp1gSlAqIFPSGzR0HXq68Mzlr9e1KuNgkTg="
  file:
    - build/_output/privilege-walk.wigt
    - build/_output/privilege-walk-build-info.yml
  on:
    tags: true
    repo: ucfopen/privilege-walk-materia-widget
notifications:
  email: false
  slack:
    secure: "RwNu+p8GYvMn1Dvq+xEM8llsqH9gU6tVomxAdmLL3AX90Kqati3F5RC5+2LHJON+CYuE/jnHzF/YazNKKFJ2S7vL5QUhIIT/iTKiDK9M/VCyKLCHHQiyC2MwPWQERkA7ftf65aBY8647fliMMR+1NUapSPIpXeum0CAT6K9Z84MDpem/dl5nmCJDGnmuNVdyFgpbF92v9Bgw+sHtZKUZb9p8UcAZ2bKwZtewbZWNVnRDAQbpSfYYPqRqvWQfxcC+ypwiU7JEuHv8Zr8XLGuhdeoX/ky0s9OIudxpxaN4AQPaTnOQpBnAE5Mdn04DIZeU8Lia0mOxJqAQ7eViEQSTN84NHaiEPh+pButcnnrnuzswcBr2uJVXmRO5NGpw26nxLfliwxrv/EgbmSVyUqpv00ZXcBHPDcIo1vzo8kAYMP42AUCP+IbKO+gmgDU9WD2gYDIErNCOFsfUv6X6sZTLqB0nHZUJTE1vj9w+2g5f8odac6gIPsDBy+HrAxlHSkE/+Bxgsii9pUnOTneOrYpyPmHNYtTE1C0iAFjUY6wbGkiuinBOb2laqFOfdiHhRZ6ex3Si4QMDOZdgPV2YPtNOp5jM3CoUVm2BSy3nsvMtWNsJbNXjfdPDn0BLv/+j2LDY/h9+rf0kq6pCTmltS/Otwnyz1ovOi7yfRcOhLzsbj7o="
