<!DOCTYPE HTML>
<html>
	<head>
		<title>Privilege Walk Creator</title>
		<meta charset="utf-8"/>

		<!-- STYLESHEETS -->
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" type="text/css" href="creator.css">

		<!-- REQUIRED MATERIA JAVASCRIPT -->
		<script>
			(function(proxied){
				window.alert = function() {
					throw 'ERROR';
				};
			}) (window.alert);
		</script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="materia.creatorcore.js"></script>

		<!-- ANGULAR DEPENDENCIES -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
		<script src="angular-sortable-view.min.js"></script>

		<!-- MAIN CREATOR SCRIPT -->
		<script src="creator.js"></script>
	</head>

	<body ng-app="PrivilegeWalkCreator">
		<md-content id="container" ng-controller="PrivilegeWalkController">

			<md-toolbar md-theme="toolbar-dark">
				<div class="md-toolbar-tools">
					<md-input-container class="md-block widget-title" flex>
						<label id="widget-title-label">Widget Name</label>
						<input ng-model="title">
					</md-input-container>
				</div>
			</md-toolbar>

			<div layout-gt-sm="row" layout="column" id="content">
				<div flex="55" id="card-container">

					<md-card class="md-whiteframe-3dp card"
						ng-repeat="(cardIndex, card) in cards"
						layout="row">

						<div class="card-right" layout="column" flex>
							<div class="card-buttons">
								<button class="move-arrow" ng-hide="$first" ng-click="swapCards(cardIndex, cardIndex - 1)">
									<md-tooltip md-direction="below">Move Question Up</md-tooltip>
									<i class="material-icons">&#xE316;</i>
								</button>
								<button class="move-arrow" ng-hide="$last" ng-click="swapCards(cardIndex, cardIndex + 1)">
									<md-tooltip md-direction="below">Move Question Down</md-tooltip>
									<i class="material-icons">&#xE313;</i>
								</button>
								<button class="delete" ng-click="deleteQuestion(cardIndex)">
									<md-tooltip md-direction="below">Delete this Question</md-tooltip>
									<i class="material-icons">&#xE872;</i>
								</button>
							</div>
							<md-input-container class="md-block">
								<label>Question {{$index + 1}}</label>
								<input
									ng-model="card.question">
							</md-input-container>

							<div layout="row">
								<md-input-container>
									<label>Answer Type</label>
									<md-select ng-change="updateAnswerType(cardIndex)" ng-model="card.questionType">
										<md-option
											ng-repeat="questionType in questionTypes"
											value="{{$index}}">
											{{questionType}}
										</md-option>
									</md-select>
								</md-input-container>
								<md-input-container ng-show="card.questionType==2">
									<label>Display Type</label>
									<md-select ng-model="card.style">
										<md-option
											ng-repeat="displayStyle in displayStyles"
											value="{{displayStyle.value}}">
											{{displayStyle.text}}
										</md-option>
									</md-select>
								</md-input-container>
								<md-checkbox
									aria-label="Reversed Values"
									class="reverse-checkbox"
									ng-change="reverseValues(cardIndex)"
									ng-model="card.reversed"
									ng-show="card.questionType!=2">
									Reversed Values
								</md-checkbox>
							</div>

							<!-- Preset Preview -->
							<md-card-actions layout layout-align="start start" class="radio-choice" ng-show="card.questionType < 2">
								<md-radio-group layout="row">
									<md-radio-button
										ng-disabled="true"
										ng-repeat="answer in card.answers"
										value={{$index}}>
										<md-tooltip md-direction="below">Value: {{answer.value}}</md-tooltip>
										{{answer.text}}
									</md-radio-button>
								</md-radio-group>
							</md-card-actions>

							<!-- Custom -->
							<md-card-actions layout layout-align="start start" class="custom-choice" ng-show="card.questionType==2">
								<div layout="column" sv-root sv-part="card.answers">
									<div layout="row" ng-repeat="option in card.answers" sv-element="dragOpts">
										<md-button class="move-option" sv-handle>
											<md-tooltip md-direction="below">Drag to Reorder</md-tooltip>
											<i class="material-icons">&#xE25D;</i>
										</md-button>
										<md-input-container>
											<label>Option {{$index + 1}}</label>
											<input type="text" ng-model="option.text" required="true"/>
											<div ng-messages="option.text.$error">
												<div ng-message="required">Option is required.</div>
											</div>
										</md-input-container>

										<md-input-container >
											<label>Option {{$index + 1}} Value</label>
											<input type="number" ng-model="option.value" required="true"/>
											<div ng-messages="option.value.$error">
												<div ng-message="required">Value is required</div>
											</div>
										</md-input-container>

										<md-button class="remove-option" ng-click="removeOption(cardIndex, $index)">
											<md-tooltip md-direction="below">Remove Option</md-tooltip>
											<i class="material-icons">&#xE872;</i>
										</md-button>
									</div>
									<md-button class="md-accent md-raised toggle-option" ng-click="addOption(cardIndex)">
										Add Option
									</md-button>
								</div>
							</md-card-actions>

						</div>
					</md-card>

					<div layout layout-align="center center">
						<md-button class="md-accent md-raised add-question" ng-click="addQuestion()">
							Add Question
						</md-button>
					</div>

				</div>
			</div>
		</md-content>
	</body>
</html>
