<!DOCTYPE HTML>
<html>
	<head>
		<title>Privilege Walk Creator</title>
		<meta charset="utf-8"/>

		<!-- STYLESHEETS -->
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
		<link rel="stylesheet" type="text/css" href="creator.css">

		<!-- REQUIRED MATERIA JAVASCRIPT -->
		<script>
			(function(proxied){
				window.alert = function() {
					throw 'ERROR';
				};
			}) (window.alert);
		</script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="materia.creatorcore.js"></script>

		<!-- ANGULAR DEPENDENCIES -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-sanitize.min.js"></script>

		<!-- MAIN CREATOR SCRIPT -->
		<script src="creator.js"></script>
	</head>

	<body ng-app="PrivilegeWalkCreator">
		<md-content id="container" ng-controller="PrivilegeWalkController">

			<md-toolbar md-theme="toolbar-dark">
				<div class="md-toolbar-tools">
					<md-input-container class="md-block widget-title" flex>
						<label id="widget-title-label">Widget Name</label>
						<input ng-model="title">
					</md-input-container>
				</div>
			</md-toolbar>

			<div layout-gt-sm="row" layout="column" id="content">
				<div flex="55" id="card-container">

					<md-card class="md-whiteframe-3dp card"
						ng-repeat="(cardIndex, card) in cards"
						layout="row">

						<div class="card-right" layout="column" flex>
							<button class="delete" ng-click="deleteQuestion(cardIndex)">×</button>
							<md-input-container class="md-block">
								<label>Question</label>
								<input
									ng-model="card.question"
									class="highlight">
							</md-input-container>

							<md-input-container>
								<label>Answer Type</label>
								<md-select ng-model="card.questionType">
									<md-option
										ng-repeat="questionType in questionTypes"
										value="{{$index}}">
										{{questionType}}
									</md-option>
								</md-select>
							</md-input-container>

							<!-- Yes / No Preset -->
							<md-card-actions layout layout-align="start start" class="radio-choice" ng-show="card.questionType==0">
								<md-radio-group layout="row" ng-model="responses[cardIndex]">
									<md-radio-button value="0" ng-disabled="true">Yes</md-radio-button>
									<md-radio-button value="1" ng-disabled="true">No</md-radio-button>
								</md-radio-group>
							</md-card-actions>

							<!-- Scale Preset -->
							<md-card-actions layout layout-align="start start" class="radio-choice" ng-show="card.questionType==1">
								<div layout="column" >
									<div layout="row" ng-repeat="option in rangeOptions">
											<md-input-container aria-label="option {{$index + 1}}" ng-value="option.value" ng-disabled="true">
												<label>Option {{$index + 1}}</label>
												<input type="text" ng-model="option.text" ng-disabled="true"/>
											</md-input-container>

											<md-input-container aria-label="option {{$index + 1}}" ng-value="option.value" ng-disabled="true">
												<label>Option {{$index + 1}} Value</label>
												<input type="number" ng-model="option.value" ng-disabled="true"/>
											</md-input-container>
									</div>
								</div>
							</md-card-actions>

							<!-- Custom -->
							<md-card-actions layout layout-align="start start" class="radio-choice" ng-show="card.questionType==2">
								<div layout="column">
									<div layout="row" ng-repeat="option in card.customOptions.options">
										<md-input-container aria-label="option {{$index + 1}}" ng-value="option.value" ng-disabled="true">
											<label>Option {{$index + 1}}</label>
											<input type="text" ng-model="option.text" required="true"/>
										</md-input-container>

										<md-input-container aria-label="option {{$index + 1}}" ng-value="option.value" ng-disabled="true">
											<label>Option {{$index + 1}} Value</label>
											<input type="number" ng-model="option.value" required="true"/>
										</md-input-container>

										<md-button class="md-accent md-raised toggle-option" ng-click="removeQuestion($index)">
											Remove
										</md-button>
									</div>
									<md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
										Display as Dropdown: {{ data.cb1 }}
									</md-checkbox>
									<md-button class="md-accent md-raised toggle-option" ng-click="changeQuestionType(cardIndex)">
										Add Option
									</md-button>
								</div>
							</md-card-actions>

							{{card}}
						</div>
					</md-card>

					<div layout layout-align="center center">
						<md-button class="md-accent md-raised add-question" ng-click="addQuestion()">
							Add Question
						</md-button>
					</div>

				</div>
			</div>
		</md-content>
	</body>
</html>
