#container {
	position: relative;
	height: 100%;
	background-color: #F3F3F3;
}

.md-toolbar-tools h2 {
	margin-left: 5px;
}

.card {
	margin: 20px;
}

h1.md-headline {
	position: relative;
	z-index: 0;
}

.radio-spacing {
	margin: 10px;
}
